<!DOCTYPE html>
<html>
    <head>
        <title>Closer</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <style>
        .red {
           color: red 
        }
        .green{
           color: green 
        }
    </style>
    <body>
        <h1>Closer</h1>
        <div id="app">
            <ul>
                <li v-for="origin in origins">
                    <div v-bind:class="{red: origin.color==='red', green: origin.color==='green'}">
                        {{origin.name}}<span v-if="origin.computed">: {{origin.distance_text}}</span>
                    </div>
                </li>
            </ul>
            <input v-model="inputOrigin" placeholder="Origin"></input>
            <button @click="addNewOrigin">Add</button>
            <input v-model="destination" placeholder="Destination">
            <button @click="computeDistances">Compute</button>
        </div>
    </body>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                origins: [],
                inputOrigin: "",
                destination: ""
            },
            methods:{
                addNewOrigin: function(){
                    if(!this.inputOrigin) return;
                    this.origins.push({
                        name: this.inputOrigin,
                        color: "",
                        distance_value: null,
                        distance_text: null,
                        computed: false
                    });
                    this.inputOrigin = "";
                },
                computeDistances: function(){
                    if(this.origins.length===0 || this.destination.length === 0){
                        alert("Must have atleast one origin and non-empty destination")
                    }
                    const link = this.getMapsLink()
                    axios.get(link)
                        .then((response) => {
                            const data = response.data;
                            data.result.forEach((comp, i) => {
                                if(comp.status === "OK"){
                                    this.origins[i].color = 'green';
                                    this.origins[i].distance_text = comp.distance.text;
                                    this.origins[i].distance_value = comp.distance.value;
                                } else{
                                    this.origins[i].color = 'red';
                                }
                                this.origins[i].computed = true;
                            })
                        });
                },
                getMapsLink: function(){
                    const base_link = '/compute-distance';
                    const origins = this.origins.map((o) => o.name).join('|');
                    const destination = this.destination;
                    return `${base_link}?origins=${origins}&destination=${destination}`;
                }
            },
        });
    </script>
</html> 
