<!DOCTYPE html>
<html>
    <head>
        <title>Closer</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Closer</h1>
        <div id="app">
            <ul>
                <li v-for="origin in origins">
                    {{origin}}
                </li>
            </ul>
            <input v-model="inputOrigin" placeholder="Origin"></input>
            <button @click="addNewOrigin">Add</button>
            <input v-model="destination" placeholder="Destination">
            <button @click="computeDistances">Compute</button>
        </div>
    </body>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                origins: [],
                inputOrigin: "",
                destination: ""
            },
            methods:{
                addNewOrigin: function(){
                    if(!this.inputOrigin) return;
                    this.origins.push(this.inputOrigin);
                    this.inputOrigin = "";
                },
                computeDistances: function(){
                    if(this.origins.length===0 || this.destination.length === 0){
                        alert("Must have atleast one origin and non-empty destination")
                    }
                    const link = this.getMapsLink()
                    axios.get(link)
                        .then((response) => { console.log(response);});
                },
                getMapsLink: function(){
                    const base_link = '/compute-distance';
                    const origins = this.origins.join('|');
                    const destination = this.destination;
                    return `${base_link}?origins=${origins}&destination=${destination}`;
                }
            }
        });
    </script>
</html> 
